.MainTitle {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	display: block;
}

.hotbarButton {
	background-color: #60b0f4;
	color: white;
	padding: 8px 3%;
	font-size: 16px;
	border: none;
	outline: none;
}

.hotbarFirst {
	margin-left: 10%;
	margin-right: 10%;
}

.hotbarName {
	font-size: 18px;
}

.hotbarButton:hover {
	background-color: #569edb;
	color: white;
}

.loginButton{

	display: inline-block;
	border-radius: 4px;
	background-color: #00b316;
	border: none;
	color: white;
	text-align: center;
	font-size: 16px;
	padding: 10px;
	width: 100px;
	transition: all 0.5s;
	cursor: pointer;
	margin-top: 10px;
	margin-bottom: 2px;
	margin-left: 100px;
	outline: none;
}

.loginButton span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.loginButton span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: 65px;
  transition: 0.4s;
}

.loginButton:hover span {
  padding-right: 15px;
}

.loginButton:hover span:after {
  opacity: 1;
  right: 0;
}

.loginBox {
    width: 200px;
    padding: 20px;
    padding-top: 0;
    
    border: 1px solid rgb(217, 218, 219);
    background-color: rgb(248, 249, 250);
    box-shadow: 0px 0px 3px #fefefe;
    margin: auto;
    margin-top: 100px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #60b0f4;
  border-bottom: 1px solid #525252;
}

body {
	font-family: sans-serif;
}

input{
	border: 1px solid black;
	padding: 10px 18px;
	width: 160px;
	border-radius: 2px;
	margin-top: 2px;
	margin-top: 2px;
	outline: none;
}